body {
    text-align: center;
}

.pointer {
    margin: auto;
    padding: 0;
    display: block;
    width: 300px;
    height: 300px;
    text-align: center;
    overflow: hidden;
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
  .pointer img {
    vertical-align: middle;
  }
