.value{
	font-size: 4vw;
	font-weight: bold;

}

.label{
	font-size: 3vw;
}

.aligntext{
	text-align: center;
}

.bg{
	background: #ffffff
	width:50%;
}
.imageSize{
    padding-top:15px;
	width: 40%;
	
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container{
	width: 100%;
    height: 0;
    padding-bottom: 100%;
	margin:auto;
   	align-content:center;
   	text-align:center;
}

.acnact-btn-div{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.acnact-btn{
	height: 24vw;
    width: 24vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    align-content: center;
    border-radius: 12vw;
    background-color: rgb(253,155,39);
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    bottom: 0;
    outline:0;
}

.acnact{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30%;

}


.acnact-value{
	font-size: 16vw;
	font-weight: bold;
}


.acnfreight-margin{
    margin: 50px;
}


.acnfreight-btn{
    margin: 50px;
    padding: 10px;
    background-color: rgb(253,155,39);
}



#primary_color{
    border-radius: 100%;
    height: 80px;
    width: 80px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

#primary_color::-webkit-color-swatch-wrapper {
    padding: 0;
}
#primary_color::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

.acnact-value-small{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	font-size: 28px;
    font-weight: bold;
    margin-top: 60px
}

.acnact-value-tiny{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	font-size: 18px;
    font-weight: bold;
}
