.value{
	font-size: 4vw;
	font-weight: bold;

}

.label{
	font-size: 3vw;
}

.aligntext{
	text-align: center;
}

.bg{
	background: #ffffff;
	width:50%;
}
.imageSize{
    padding-top:15px;
	width: 40%;
	
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.acnact-btn-div{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.acnact-btn{
	height: 24vw;
    width: 24vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    align-content: center;
    border-radius: 12vw;
    background-color: rgb(253,155,39);
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    bottom: 0;
    outline:0;
}

.acnact{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30%;

}


.acnact-value{
	font-size: 16vw;
	font-weight: bold;
}


.acnfreight-margin{
    margin: 50px;
}


.acnfreight-btn{
    margin: 50px;
    padding: 10px;
    background-color: rgb(253,155,39);
}



#primary_color{
    border-radius: 100%;
    height: 80px;
    width: 80px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

#primary_color::-webkit-color-swatch-wrapper {
    padding: 0;
}
#primary_color::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

.acnact-value-small{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	font-size: 28px;
    font-weight: bold;
    margin-top: 60px
}

.ledvance-center-value-small{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	font-size: 28px;
    font-weight: bold;
}

.ledadvance-value-small{
    margin-top: 10px;
    text-align: center;
}

.acnact-value-tiny{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	font-size: 18px;
    font-weight: bold;
}

.acnlight-hexvalue{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	font-size: 28px;
    font-weight: bold;
    margin-top: 60px;
    text-shadow: 2px 1px black;
}

 #circle {
      margin: auto;
      width: 150px;
      height: 150px;
      -webkit-border-radius: 75px;
      -moz-border-radius: 75px;
      border-radius: 75px;
      border: 4px solid black;
      background: white;
      align-content: center;
}

#new-circle {
    margin: auto;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: 4px solid white;
    background: #ff6600;
    align-content: center;
}

#acn-beacon-icon {
    margin-top : 10vh;
    margin-bottom : 2vh;
    width : 20vw;
    height : 20vw;
}

.bold-text {
    font-weight : bold
}

.acn-beacon-param-name-container {
    width : 26vw;
}

#acn-beacon-mac-address {
    margin-bottom : 7vh;
}


.acn-beacon-param-name {
    font-size : 16px;
}

#acn-beacon-rssi {
    font-size : 32px;
    width : 150px;
    text-align : right;
}

#acn-beacon-rssi-at-1m {
    font-size : 32px;
    width : 150px;
    text-align : right;
}

#acn-beacon-rssi-st-dev {
    font-size : 28px;
    width : 150px;
    text-align : center;
}

#acn-beacon-timestamp {
    font-size : 19px;
}

.acn-beacon-param-name-container {
    display: inline-block;
    margin-right : 3vw;
}

.acn-beacon-name-value-container {
    display: table;
    height: 5vh;
    overflow: hidden;
}
