<div id="arbitrary-data-body" style="background-color: #fafafa">
  <div class="row margin-sides" style="margin-top: 2em;">
    <div class="col-md-12">
      <div class="card card-body">
        <span>Bytes available: <span class="font-weight-bold" id="arbitrary-bytes-abailable">0</span></span></div>
    </div>
    <div id="container-arbitrary" class=" col-md-12">
      <!-- Add arbitrary data in here -->
    </div>
  </div>
  <button type="button" data-toggle="modal" id="fab-arbitrary" data-target="#arbitrary-modal" class="btn btn-primary button22" data-whatever="new" data-backdrop="false">+
  </button>
  <div class="modal fade" id="arbitrary-modal" tabindex="-1" role="dialog" aria-labelledby="arbitrary-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Data Input</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="modal-key" class="col-form-label">Data Key:</label>
              <input type="text" class="form-control" id="modal-key">
            </div>
            <div class="form-group">
              <label for="modal-value" class="col-form-label">Value:</label>
              <textarea class="form-control" id="modal-value"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="modal-okay-btn" type="button" class="btn btn-primary">Okay</button>
        </div>
      </div>
    </div>
  </div>

</div>

