
<div id="general-body" style="background-color:#FAFAFA">
<div class="container-fluid">
    <br/>

    <div class="card-view">

        <h5>Settings</h5>

        <div class="row d-flex align-content-stretch flex-wrap center">
            <div align="center" class="col-md-4 col-sm-4 col-4 center">
                <div class="custom-control custom-switch">
                    <!--                    This feature has not been implemented yet-->
                    <input onchange="GeneralView.Actions.changeConnectible(this.checked)"
                           type="checkbox"
                           class="custom-control-input" id="tgl-connection" disabled>
                    <br/>
                    <label class="custom-control-label responsive-text" for="tgl-connection">Connectible</label>
                </div>
            </div>
        </div>
        <br/>
        <div class="row d-flex align-content-stretch flex-wrap">
            <div class="col-md-4 col-sm-4 col-5">
                <button onclick="GeneralView.Actions.updateFirmware()"
                        class="responsive-text btn btn-dark btn-block">Update<br/>Firmware
                </button>
            </div>
            <div class="col-md-4 col-sm-4 col-5">
                <button onclick="GeneralView.Actions.factoryReset()"
                        class="responsive-text btn btn-dark btn-block">Restart<br/>Factory
                </button>
            </div>
        </div>
        <br/>
        <div class="row d-flex align-content-stretch flex-wrap">
            <div class="col-md-4 col-sm-4 col-5">
                <button onclick="GeneralView.Actions.powerOff()"
                        class="responsive-text btn btn-dark btn-block">Power<br/>Off
                </button>
            </div>
            <div class="col-md-4 col-sm-4 col-5">
                <button onclick="GeneralView.Actions.addPassword()"
                        class="responsive-text btn btn-dark btn-block">Add<br/>Password
                </button>
            </div>
            <div class="col-md-4 col-sm-4 col-4"></div>
        </div>
        <br/>

    </div>


    <br/>

    <div class="card-view">

        <h5>Manufacturer Info</h5>
        <br/>
        <div class="row">
            <div class="col-7">
                <label class="label-description">Manufacturer</label>
            </div>
            <div class="col-5 text-right">
                <label class="label-text" id="lbl-manufacturer">-</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <label class="label-description right">Model</label>
            </div>
            <div class="col-5 text-right">
                <label id="lbl-model" class="label-variable  label-text">-</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <label class="label-description">Software Version</label>
            </div>
            <div class="col-5 text-right">
                <label id="lbl-software-version" class="label-variable  label-text">-</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <label class="label-description">Hardware Version</label>
            </div>
            <div class="col-5 text-right">
                <label id="lbl-hardware-version" class="label-variable  label-text">-</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <label class="label-description">Firmware Version</label>
            </div>
            <div class="col-5 text-right">
                <label id="lbl-firmware-version" class="label-variable  label-text">-</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <label class="label-description">Free RTOS Version</label>
            </div>
            <div class="col-5 text-right">
                <label id="lbl-os-version" class="label-variable  label-text">-</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <label class="label-description">Mac Address</label>
            </div>
            <div class="col-5 text-right">
                <label id="lbl-mac-address" class="label-variable  label-text">-</label>
            </div>
        </div>
        <br/>

    </div>

    <br/>

    <div class="card-view">

        <h5 class="card-title">Feature Info</h5>
        <div class="row">
            <div class="col-7">
                <label class="label-description">Supported Tx Power</label>
            </div>
            <div class="col-5 text-right">
                <label id="lbl-supported-tx-power" class="label-variable  label-text">-</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <label class="label-description">Supported Slots</label>
            </div>
            <div class="col-5 text-right">
                <label id="lbl-supported-slots" class="label-variable  label-text">-</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <label class="label-description">Slot Amount</label>
            </div>
            <div class="col-5 text-right">
                <label id="lbl-slot-amount" class="label-variable  label-text">-</label>
            </div>
        </div>

    </div>

</div>


</div>
