<div id="slot-body" style="background-color: #fafafa">
<div class="row margin-sides" style="margin-top: 1em;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Slot Name</h5>
                <div id="slot-name" class="panel-body">
                    <input type="text" name="slot-name-text" id="slot-name-text">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row margin-sides" style="margin-top: 1em;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body" id="slot-advertising">
            </div>
        </div>
    </div>
</div>

<div class="row margin-sides" style="margin-top: 2em;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Frame Type</h5>
                <div class="dropdown">
                    <button id="btn-frame-type" class="btn btn-primary dropdown-toggle"
                            style="width: 100%; text-align: left !important;" type="button"
                            data-toggle="dropdown">Select
                        <span class="caret"></span></button>
                    <ul id="dropdown-frame-type" class="dropdown-menu" style="width: 100%;">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row margin-sides" style="margin-top: 1em;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Advertising Content</h5>
                <div id="advertising-content" class="panel-body">
                    <!-- Content is generated -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row margin-sides" style="margin-top: 1em;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body" id="base-parameter">

            </div>
        </div>
    </div>
</div>

</div>