{
	"id" : "0300",
	"name" : "acnAlert",
	"usecase_screen_path" : "/sensorics/usecase_screens/acnfreight.html",
	"icon_path" : "/sensorics/icons/ic_freight.png",
	"format_path" : "/sensorics/formats/0300.json",
	"device_screen_path" : "/sensorics/device_screens/connect_empty.html",
	"connection_screen_path" : "/sensorics/connection_screens/acnfreight.html"
}