{
	"id" : "18CF",
	"name" : "acnFREIGHT",
	"usecase_screen_path" : "/sensorics/usecase_screens/acnfreight.html",
	"icon_path" : "/sensorics/icons/ic_freight.png",
	"format_path" : "/sensorics/formats/18CF.json",
	"device_screen_path" : "/sensorics/device_screens/empty.html",
	"connection_screen_path" : "/sensorics/device_screens/acnfreight.html"
}