<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aconno.sensorics">

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".SensoricsApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_rounded"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.bubble.BubbleActivity"
            android:label="@string/title_activity_bubble"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.ActionListActivity" />

        <service
            android:name=".BluetoothScanningService"
            android:exported="false" />
        <service
            android:name=".BluetoothConnectService"
            android:exported="false" />
        <service
            android:name="com.aconno.bluetooth.BluetoothDeviceService"
            android:exported="false" />
        <service
            android:name=".SyncConfigurationService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".ui.settings.publishers.PublishListActivity"
            android:label="@string/title_publish_list" />
        <activity
            android:name=".ui.settings.publishers.restheader.RestHeadersActivity"
            android:label="@string/title_activity_rest_header"
            android:parentActivityName=".ui.settings.publishers.selectpublish.RestPublisherActivity" />
        <activity
            android:name=".ui.settings.publishers.resthttpgetparams.RestHttpGetParamsActivity"
            android:label="@string/title_activity_rest_http_get_params"
            android:parentActivityName=".ui.settings.publishers.selectpublish.RestPublisherActivity" />
        <activity
            android:name=".ui.settings.publishers.selectpublish.SelectPublisherActivity"
            android:label="@string/title_select_publish"
            android:noHistory="true"
            android:theme="@style/SelectPublisherTheme" />
        <activity
            android:name=".ui.settings.publishers.selectpublish.RestPublisherActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.settings.publishers.selectpublish.GoogleCloudPublisherActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.settings.publishers.selectpublish.MqttPublisherActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_settings"
            android:theme="@style/SettingsTheme" />

        <activity
            android:name=".ui.configure.ConfigureActivity"
            android:label="@string/title_configure" />

        <activity
            android:name=".ui.SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.actions.ActionDetailsActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricAPIKey}" />
    </application>
</manifest>