<html>

<head>
    <link rel="stylesheet" href="../../libs/bootstrap-4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../commons/holo.css" />
    <style>
        .margin-sides {
            margin-left: 0.1em;
            margin-right: 0.1em;
        }

        .label-description {
            font-size: small;
            font-weight: bold;
            color: #666666
        }

        .div-text-right {
            text-align: right;
        }
    </style>
</head>

<body style="background-color: lightgray">
    <div class="container">
    <br/>

    </div>
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../libs/popper.min.js"></script>
    <script src="../../libs/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <script src="../../commons/generator.js"></script>
</body>

</html>